
  <main role="main" class="container">
    <div class="content">
      
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <h1 class="mb-4">Pig Latin Translator</h1>
          <form>
            <div class="form-group col-12">
              <input [(ngModel)]="userText" class="form-control form-control-lg" type="text" placeholder="Enter text to translate" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col-12">
              <button type="submit" [disabled]="!userText.length" class="btn btn-primary" (click)="translate()">Translate</button>
            </div>
            
            <div class="result mt-5" *ngIf="resultHistory.length">
              <h2>{{ result.translation }}</h2>
              <hr *ngIf="result.text" />
              <p class="text-muted">{{ result.text }}</p>
            </div>
          </form>
        </div>
        <div class="col-md-4 mt-4">
          <div class="card mt-5" style="width: 18rem;">
            <div class="card-header font-weight-bold">
              History <span class="text-muted font-weight-normal">(upto 10 last entries)</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngIf="resultHistory.length == 0">
                No entries found.
              </li>
              <li class="list-group-item text-left" *ngFor="let history of resultHistory.slice().reverse();">
                <h6 class="m-0">{{ history.translation }}</h6>
                <small class="text-muted m-0">{{ history.text }}</small><br>
              </li>
              
            </ul>
          </div>
        </div>
        
      </div>
      
      
    </div>



  </main><!-- /.container -->




