.content {
    padding: 3rem 1.5rem;
    text-align: center;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
 }

 .result {
 	h2 {
 		letter-spacing: 1px;
 	}
 }